
.user-message strong,
.chatbot-message strong {
    background-color: rgb(165, 204, 245);
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
}

.chatbot-input {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    margin: 5px;
}

.chatbot-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    font-size: 14px;
}

.chatbot-input input[type="text"]::placeholder {
    color: #bbb;
}

.chatbot-input button {
    margin: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.chatbot-input button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}