.daily-goal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
}

.profile-today {
    display: flex;
    align-items: center; /* Aligns vertically in the center */
    gap: 10px; /* Adds space between the icon and the text */
    font-size: 24px; /* Adjusts font size for the text */
    font-weight: bold; /* Makes the text bold */
    margin-bottom: 20px; /* Adds space below the section */
    justify-content: flex-start; /* Aligns items to the left */
}

.profile-icon {
    font-size: 32px; /* Icon size */
    color: #0056b3; /* Adjust color to fit the theme */
    margin-left: 2px; /* Adjusts the left margin for the icon */
}


.today-label {
    color: #444;
}

.main-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.water-card,.calories-card{
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45vw;
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vw;

}

.calorie-value {
    color: #0056b3;
    font-size: 34px;
}

.suggestion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 600px;
    margin-top: 20px;
}

.complete-meals {
    padding: 12px 24px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #006769;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.complete-meals:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;  
    opacity: 0.6;  
}

.complete-meals:hover:not(:disabled) {
    background-color: #50C878;
    transform: translateY(-2px);  
}

.message {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;  
    text-align: center;  
    padding: 10px;
    width: 100%;  
}
.calories-card {
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45vw;
    max-width: 500px;
}

.calorie-details-horizontal {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between children */
    align-items: center; /* Vertically centers the content */
    width: 100%;
    margin-top: 30px;
}

.calorie-stats {
    flex: 1;
    padding-right: 20px; /* Adds spacing between stats and summary */
}

.calorie-summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calorie-value {
    color: #006769;
    font-size: 34px;
    margin: 10px 0;
}
