.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between children */
    padding: 0 12px;
    background-color: #006769;
}

.dash-logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between logo and text */
    flex-grow: 1; /* Ensures it takes as much space as possible */
}

.dash-logo {
    font-family: "Allura", cursive;
    font-size: 45px; /* Adjust size as necessary */
    color: #50C878;
    margin-left: 10px; /* Reduces left margin */
}

.nav-links {
    display: flex;
    gap: 50px; /* Adjusted gap for better spacing */
    margin-left: auto; /* Pushes navigation links to the right */
}

.nav-link {
    text-decoration: double;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-link:hover {
    background-color: rgb(172, 126, 201); /* Darker shade for hover effect */
    transform: translateY(-2px); /* Slight lift on hover */
}

.profile-logo {
    font-size: 30px; /* Reduced size for balance */
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 25px;
}

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    background-color: #006769;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 15px;
}

.close-chatbot {
    position: absolute;
    top: -15px;
    right: 5px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 10px;
}

.close-chatbot:hover {
    background-color: rgb(220, 2, 2);
}


.profile-logo:hover {
    color: rgb(108, 211, 216); /* Matches dash-logo color on hover */
}

.fitsync-logo {
    width: 40px; /* Adjusts logo size */
    height: auto; /* Maintains aspect ratio */
}
.dashboard-page{
    background-color: #E6F4F1;
}